
body{
    background-image: url(img/fondo2.jpg);
    font-family: 'Times New Roman', Times, serif;
}

#contenedor{
    width: 95%;
    margin: 0px auto;
    border: 2px green;

}

header{

    background-color: rgb(8, 116, 158);
    height: 120px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 120px;
    border: 2px whitesmoke;
    color: aliceblue;
}

#contenido{
    float: left;
    width: calc(79% - 10px);
    background-image: url("img/azul.jpg");
    min-height: 730px;
    padding: 10px;
    text-align: center;
}

aside{
    float: left;
    width: calc(19% - 5px);
    background-color: rgb(216, 130, 31);
    min-height: 740px;
    padding: 5px;
}
.espacio{clear:both;}

footer{

    background-color: rgb(8, 116, 158);
    height: 80px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 80px;
}

.articulo{

    color: rgb(3, 3, 3);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 13px;
    border-bottom: 5px solid whitesmoke;

}

aside h2{
    color: rgb(19, 29, 170) ;
}

#insta{
    width: 100px;
    height: 100px;
}

#feibu{
    width: 100px;
    height: 100px;
}
i{color: beige;
    font-size: 35px;}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(32, 148, 177);
        /*display: inline-block;*/
    
    }
    
    li {
        float: left;
        
        
    }
    
    li a {
        display: inline-block;
        color: rgba(2, 2, 2, 0.548);
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
        font-size: 140%;
    }
    
    li a:hover {
        background-color:rgb(2, 40, 49);
        transform: scaleX(1.2);
        font-style:  italic ;
        
        color: rgb(255, 255, 255);
    
    }
    